aejb-subsystem/src/main/resources/schema/aejb.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:org.nju.artemis.aejb:1.0" xmlns="urn:org.nju.artemis.aejb:1.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<!-- The subsystem root element -->
	<xs:element name="subsystem" type="subsystemType" />
	<xs:complexType name="subsystemType">
      <xs:all>
         <xs:element name="client-service" type="client-serviceType">
      </xs:all>
   </xs:complexType>
   <xs:complexType name="client-serviceType">
      <xs:attribute name="jndi-name" type="xs:string" use="required"/>
   </xs:complexType>
</xs:schema>
